<app-header></app-header>
<div class="home-container">
    <div class="All-Movies">
        <div class="trending-movies">
            <div class="top">
                <h4>Trending Movies</h4>
                <div class="view-all">View All</div>
            </div>
            <div class="movie-thum">
                <div class="movies" *ngFor="let movie of trendingMovies" (click)="goToMovie('trending',movie.id)">
                    <div class="cover">
                        <img [src]="movie.cover" alt="">
                    </div>
                    <div class="detail">
                        <div class="name">{{movie.name}}</div>
                        <div class="rating">
                            <span class="rating-value">{{movie.rating}}</span>
                            <app-star-rating [rating]="movie.rating"></app-star-rating>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theater-movies">
            <div class="top">
                <h4>Popular in Theaters</h4>
                <div class="view-all">View All</div>
            </div>
            <div class="movie-thum">
                <div class="movies" *ngFor="let movie of theaterMovies" (click)="goToMovie('theatre',movie.id)">
                    <div class="cover">
                        <img [src]="movie.cover" alt="">
                    </div>
                    <div class="detail">
                        <div class="name">{{movie.name}}</div>
                        <div class="rating">
                            <span class="rating-value">{{movie.rating}}</span>
                            <app-star-rating [rating]="movie.rating"></app-star-rating>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Popular-Movies">
        <h4 class="fs-6">All Time Popular</h4>

        <div class="movie" *ngFor="let movie of popularMovies" (click)="goToMovie('popular',movie.id)">

            <div class="name1">{{movie.name}}</div>
            <div class="rating3">
                <app-star-rating [rating]="movie.rating"></app-star-rating>

            </div>

        </div>
    </div>
</div>