.home-container {
    display: flex;

}

.All-Movies {
    width: 78%;
    min-height: calc(100vh - 80px);
    border-right: 1px solid red;
    padding: 20px 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Popular-Movies {
    width: 23%;
    min-height: calc(100vh - 80px);
    padding: 20px 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
    border-left: 9px solid red;
    padding-left: 10px;
}

.view-all {
    cursor: pointer;
    color: red;
}

.movie-thum {
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
    margin-bottom: 30px;
}

img {
    border-radius: 5px;
    height: 200px;
}

.detail {
    width: 180px;
}

.name {
    font-weight: bold;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 15px;
}


.movie{
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name1{
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
.rating3{
    font-size: 13px;
    font-weight: bold;
 
}